.App {
  background: rgb(90, 170, 150);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 10px 16px;
  background: rgb(90, 170, 150);
  color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}



.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 92px;

  background: rgb(90, 170, 150);
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #111f2b;
}

.main {
  margin-left: 140px;
  font-size: 28px;
  padding: 93px 0px;
  background: rgb(90, 170, 150);
  color: rgb(255, 255, 255);
}